  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <%= image_tag 'intro.jpg', class: "intro-img img-fluid mb-3 mb-lg-0 rounded" %>
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Barbershop by Monti</span>
            <span class="section-heading-lower">Make yourself handsome!</span>
          </h2>
          <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat!
          </p>
          <div class="intro-button mx-auto">
            <%= link_to "Appointment", appointments_path, class: "btn btn-primary btn-xl" %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">We Promise</span>
              <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

